<div class="fragment_101 card text-white w-100 position-relative">
    <img data-lfr-editable-id="fundoDoBannerDesktop" alt="Imagem do banner no Desktop (Computador)"
        data-lfr-editable-type="image" class="card-img d-md-block d-none"
        src="https://s2-g1.glbimg.com/NTpOxCuvVERb6BQ5TO-6z8UDhLY=/0x0:6000x3375/1080x608/smart/filters:max_age(3600)/https://i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2023/4/V/JyV6N3TBO610F6maXFPw/dsf2553-2.jpg" />
    <img data-lfr-editable-id="fundoDoBannerMobile" alt="Imagem do banner nos dispositivos Moveis (Telefones)"
        data-lfr-editable-type="image" class="card-img d-md-none"
        src="https://th.bing.com/th/id/OIP.iDT3BPBtg4hZYRyg4TFypAHaEC?rs=1&pid=ImgDetMain" />

    <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center">

        <div class="filtroDoBanner overlay position-absolute w-100 bg-${configuration.overlayColor.cssClass}"
            style="opacity: ${configuration.opacity}%;"></div>
        <div class="conteudoDoBanner d-flex flex-column align-items-center justify-content-center">
            <h1 data-lfr-editable-id="tituloBanner" data-lfr-editable-type="rich-text">Titulo de Exemplo</h1>
            <p data-lfr-editable-id="paragrafoBanner" data-lfr-editable-type="rich-text" class="card-text">Escreva aqui
                um
                paragrafo para seu banner, este é um exemplo que pode ser editado por você.</p>
            <a data-lfr-editable-id="botaoBanner" data-lfr-editable-type="link" href="#"
                class="btn btn-${configuration.buttonColor.cssClass} text-${configuration.buttonTextColor.cssClass} btn-lg">Botão</a>
        </div>
    </div>
</div>